<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuyguAnaliziPrototip"
        tools:targetApi="31">
        <activity
            android:name=".Views.DetailResultActivity"
            android:exported="false" />
        <activity
            android:name=".Camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".Camera.facialExpressionRecognition"
            android:exported="false" />
        <activity
            android:name=".Views.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Views.EvaluateScreen"
            android:exported="false" />
        <activity
            android:name=".Tests.WellBeingActivity"
            android:exported="false" />
        <activity
            android:name=".Tests.AnxietyActivity"
            android:exported="false" />
        <activity
            android:name=".Tests.RosenbergD7Activity"
            android:exported="false" />
        <activity
            android:name=".Tests.RosenbergD1Activity"
            android:exported="false" />
        <activity
            android:name=".Tests.HopelessActivity"
            android:exported="false" />
        <activity
            android:name=".Views.EvaluatesActivity"
            android:exported="false" />
        <activity
            android:name=".Views.MakeEvaluateActivity"
            android:exported="false" />
        <activity
            android:name=".Views.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Adapter.AnswersAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Views.AnswersActivity"
            android:exported="false" />
        <activity
            android:name=".Views.LastPageActivity"
            android:exported="false" />
        <activity
            android:name=".Tests.QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".Views.MainActivity"
            android:exported="true" />
    </application>

</manifest>